:root{
    --theme0: #050A30;
    --theme1: #000C66;
    --theme2: #52688F;
    --theme3: #7391C8;
    --theme4: #BDC6D9;
    --theme5: #E3E7F1;
}


.toggle {
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 1000;
}

.toggle i {
    position: absolute;
    display: block;
    height: 2px;
    background: var(--theme0);
    width: 30px;
    left: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.toggle.open i {
    background: #800028;
}

.toggle i:nth-child(1) {
    top: 16px;
}

.toggle i:nth-child(2) {
    top: 24px;
}

.toggle i:nth-child(3) {
    top: 32px;
}

.toggle.open i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.toggle.open i:nth-child(2) {
    background: transparent;
}

.toggle.open i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.container {
    position: relative;
    overflow: hidden;
    max-width: -webkit-fill-available;
}

.side-navigation {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--theme0);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 1rem 0rem;
    color: white;
}

.side-navigation.open {
    width: 300px;
}

.side-navigation h2 {
    text-align: center;
}


.side-navigation a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 25px;
    color: var(--theme4);
    display: block;
    transition: 0.3s;
}

.side-navigation a:hover {
    color: var(--theme5);
}

.container {
    margin-left: 0px;
    margin-right: 0rem;
    padding: 0rem 0rem;
    transition: 0.5s;
}

.container.open {
    margin-left: 300px;
    margin-right: 0rem;
    padding: 0rem 0rem;
    transition: 0.5s;
}

.header {
    margin-left:0rem;
    margin-right:0rem;
    padding: 0rem 0rem;
    transition: 0.5s;
    background-color: var(--theme3);
    overflow: hidden;
}

.header h1 {
    float:right;
    width: 90%;
    height: min-content;
    display: inline;
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    /*font-size: 17px;*/
    overflow: hidden;
    transition: 0.5s;
}

.header h1 a{
    float:right;
    width: 90%;
    height: min-content;
    display: inline;
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    /*font-size: 17px;*/
    overflow: hidden;
    transition: 0.5s;
}

/* Change the color of links on hover */
.header h1 a:hover {
    color: darkgreen;
    transition: 0.3s;
}

/* Add an active class to highlight the current page */
.header h1 a.active {
    color: var(--theme3);
    transition: 0.3s;
}

.footer {
    margin-left:0rem;
    margin-right:0rem;
    padding: 2rem 1rem;
    transition: 0.5s;
    background-color: var(--theme3);
    color:var(--theme0);
}

.footer a {
    display: inline;
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    /*font-size: 17px;*/
    transition: 0.5s;
}

.footer a:hover {
    color: darkgreen;
    transition: 0.1s;
}

.placeholder {
    position: relative;
    display: inline-block;
    padding-top: 180px;
    padding-bottom: 180px;
    height:auto;
    width:100%;
    background-color: #c2d8f8;
    text-align: center;
    vertical-align: middle;
    border: 5px solid black;

}

@media only screen and (min-width: 0px) {
    /* For mobile phones: */
    /* All screen Menu*/
    .side-navigation.open {
        width: 100%;
    }

    .container.open {
        margin-left: 50px;
    }
}
/* For tablets: */
/* Togable Menu*/
@media only screen and (min-width: 600px) {
    .side-navigation.open {
        width: 250px;
    }

    .container.open {
        margin-left: 250px;
    }
}
/* For desktop:*/
/* Always open menu*/
@media only screen and (min-width: 1000px) {
    .toggle {
        display: none;
    }
    .side-navigation {
        width: 250px;
    }
    .container {
        margin-left: 250px;
    }
}

/* Forecast:*/
.forecast-coin-logo{
    display:inline;
    width:40px;
}

.forecast-coin-name{
    display:inline;
}

.forecast-selection{
    display:inline-block;
    width:30%
}

.forecast-button{
    display:inline-block;
    with:10%

}

.forecast-radio{
    display:inline-block;
    width:30%
}

.hidden-button{
    display:None;
}